@media screen and (max-width:1000px) {
    .container{
        background-size: cover;
         background-position: center center;
        
    }
    button{
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.2);


}
}